<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="2y7vp42\sql2017dev.DB_TEST.dbo" connectionString="XpoProvider=MSSqlServer;data source=2Y7VP42\SQL2017DEV;user id=al_test;password=123456;initial catalog=DB_TEST;Persist Security Info=true" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>